<% provide(:title, t(".word")) %>

<%= render Admin::ContentHeaderComponent.new(title: t(".title"), button: t(".add_lesson")) %>
<div class="d-flex justify-content-center">
  <%= render Admin::SlideComponent.new(words: @words) %>
</div>
