<% provide(:title, t(".lesson", lesson_id: "#{@lesson.name}")) %>

<%= render Admin::ContentHeaderComponent.new(title: "#{@lesson.name}", button: "Edit lesson", path: edit_admin_lesson_path) %>
<div class="d-flex justify-content-center">
  <% unless @lesson.words.empty? %>
    <%= render Admin::SlideComponent.new words: @lesson.words %>
  <% end %>
</div>
<p class="fs-3 d-flex justify-content-center mt-5"><%= t ".words_list" %></p>
<div class="mx-2">
  <%= render Admin::WordsListComponent.new lesson: @lesson %>
</div>
