<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
    <div class="flippable font-family-montserrat ">
      <div class="front d-flex justify-content-center align-items-center">
        <span class="fs-3 p-5"><%= @definition %></span>
      </div>
      <div class="back d-flex justify-content-center align-items-center border-0">
        <span class="fs-4 "><%= @translation %></span>
      </div>
    </div>
</div>
