.flip-container {
  width: 400px;

  .flippable {
    transition: 0.5s;
    transform-style: preserve-3d;
    display: grid;
  }

  .flipme {
    transform: rotateY(180deg);
  }
}

.flip-container,
.front,
.back {
  text-align: center;
}

.front,
.back {
  backface-visibility: hidden;
  grid-area: 1 / 1 / 2 / 2;
}

.front {
  z-index: 2;
  color: white;
}

.back {
  transform: rotateY(180deg);
  color: white;
}
