@import "../../assets/stylesheets/colors.scss";

.course-card {
  .card-body {
    background-color: $card-bg-color;
    height: 8rem !important;
    .card-title {
      color: $card-title-color;
      font-size: 1.25rem;
      line-height: 1.3rem;
    }
    .card-text {
      color: $card-text-color;
      line-height: 1.3rem;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }
}
