<template id="course-card-template">
  <a class="text-decoration-none">
    <div class="card course-card">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
      </div>
    </div>
  </a>
</template>

<course-card
  name='<%= @course.name %>'
  description='<%= @course.description %>'
  link='<%= link_to_course %>'
>
</course-card>
