<div class="card course-card">
  <div class="card-body">
    <h5 class="card-title course-card-title"><%= @course.name %></h5>
    <p class="card-text course-card-description"><%= @course.description %></p>
  </div>
</div>
