
<div class="container-fluid overflow-auto">
  <div class="row p-2">
    <div class="col-md-12">
      <h3>
        <span><i class="bi bi-speedometer2 me-2"></i></span>
        <%= t ".dashboard" %>
      </h3>
      <%= render CourseCardsGridComponent.new(courses: @courses, pagy: nil) %>
      <%= render Admin::LessonsListComponent.new lessons: @lessons %>
    </div>
  </div>
  
</div>
