<div class="container font-family-ubuntu">
  <div class="row align-items-center">
    <div class="col-8">
      <p class="text-dark p-2 m-2 fs-1"><%= @title %></p>
    </div>
    <div class="col-4">
      <div class="d-flex justify-content-end m-5">
        <button type="button" class="btn btn-danger add-button">
          <i class="bi bi-plus-circle-fill"></i>
          <%= link_to @button, new_admin_course_path, class: "text-reset text-decoration-none" %>
        </button>
      </div>
    </div>
  </div>
</div>
