$middle-gray: #bbb;
$nav_background_color: #d1512d;
$home_bg: #f7ecde;
$title_word_color: #fff9ca;
$footer_content: #cdc2ae;
$state-danger-text: #a94442;
$course-title-color: #94b49f;
$course-description-color: #cee5d0;
$signin_bg: #df7861;
$signup_bg: #256d85;
$card-bg-color: #66BFBF;
$card-title-color: #EAF6F6;
$card-text-color: #576F72;
