@import "miscellaneous";
@import "colors";

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

input,
textarea,
select,
.uneditable-input {
  border: 1px solid $middle-gray;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;

  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// TODO: turn form and error message partial to component,
// then say good bye to this
.field_with_errors {
  .form-control {
    color: $state-danger-text;
    border-color: $state-danger-text;
  }
}
