<% provide(:title, t(".course")) %>

<div class="font-family-montserrat">
  <%= render Admin::AddButtonComponent.new %>
  <%= render Admin::CourseComponent.new(courses: @courses, pagy: @pagy) %>
</div>
