<% provide(:title, t(".title")) %>

<div class="font-family-montserrat">
  <%= render Admin::ContentHeaderComponent.new(title: t(".title"), button: t(".add_course")) %>
  <%= render Admin::CourseComponent.new(courses: @courses, pagy: @pagy) %>
</div>
