<% provide(:title, t(".new_course")) %>
<p class="font-family-ubuntu fs-1 ps-5 pt-5 d-flex justify-content-center new-course">
  <%= t ".add_new_course" %>
</p>
<div class="add-course-form p-5 pt-2 font-family-montserrat">
  <%= render Admin::CourseFormComponent.new(course: @course, variant: :create) %>
</div>

