$offcanvas-width: 270px;
#sidebar {
  width: $offcanvas-width;
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}

@media (min-width: 992px) {
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  #sidebar {
    -webkit-transform: none;
    transform: none;
    visibility: visible;
    height: 100%;
    position: relative;
  }
}

@media (max-width: 992px) {
  #sidebar {
    position: fixed;
  }
}
